th {
text-align:left;
}

input[type="number"]{
height:30px;
}

.event-record-header {
margin-bottom: 15px;
float: left;
width: 100%;
}

.date {
float:left;
width:350px;
font-size:1.6em;
}

.total {
float: right;
font-size: 1.6em;
margin-right: 70px;
}

input.select-event-id {
margin-top: -9px;
height: 30px;
}
.notes {
clear:left;
}

.tablesorter-default .tablesorter-header {
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	background-position: center left;
	background-repeat: no-repeat;
	cursor: pointer;
}
.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
	border-bottom: #000 2px solid;
}
.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
	border-bottom: #000 2px solid;
}
.tablesorter-header-inner {
  margin-left:10px;
}

.table th, .table td {
vertical-align: middle;
}
.actual, .difference {
width:60px;
}

.all-events {
clear:both;
}
